<h1>Audit View for Managers</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Total Time</th>
    <th>Status</th>
  </tr>

  <% @workers.each do |worker| %>
    <tr>
      <td><%= worker.id %></td>
      <td><%= worker.name %></td>
<!--      <td><%#= worker.total_time %></td>-->
      <td style="background-color: <%= worker.status_active ? 'green' : 'red' %>"><%= worker.status_active ? 'Active' : 'Inactive' %></td>
    </tr>
  <% end %>
</table>