<div id="<%= dom_id timeclock %>">
  <p>
    <strong>Worker:</strong>
    <%= timeclock.worker_id_id %>
  </p>

  <p>
    <strong>Punch in:</strong>
    <%= timeclock.punch_in %>
  </p>

  <p>
    <strong>Punch out:</strong>
    <%= timeclock.punch_out %>
  </p>

</div>
