<h1>Editing timeclock</h1>

<%= render "form", timeclock: @timeclock %>

<br>

<div>
  <%= link_to "Show this timeclock", @timeclock %> |
  <%= link_to "Back to timeclocks", timeclocks_path %>
</div>
