<h1>Welcome to the Time Tracking Application</h1>

<%= link_to 'Register', new_worker_path, class: "button" %>
<%= link_to 'Time Clock', timeclock_index_path, class: "button" %>
<%= link_to 'Audit', manager_index_path, class: "button" %>
