/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

table {
    /*width: 100%;*/
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    padding: 1rem;
    text-align: left;
}

a.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin: 2px 0;
}

a.button:hover {
    background-color: #3e8e41;
}

form {
    width: 500px;
    padding: 1rem;
    text-align: left;
}

form input[type="text"], form input[type="date"] {
    width: 100%;
    padding: 1rem;
    margin-top: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #3e8e41;
}
